/* VARIABLES */

// Responsive Sizes
$xxLargeSize: 1900px;
$largeSize: 1600px;

$landscapeSize: 1130px;
$portraitSize: 1005px;

$mobileSize: 700px;
$mobileSmallSize: 325px;





// Colors
$colors: (
	white: white,
	black: black
);





// Fonts
$base-value: 16;

// $font-primary:
// $font-primary--weight:
// $font-primary--bold:

// $font-secondary:
// $font-secondary--weight:
// $font-secondary--bold:





// CSS Variables
$css4: true;
$compatibility: true;

$var-fontsize: 1rem;
$var-padding: 1em;

$css-variables: (
	--fontsize: $var-fontsize,
	--padding: $var-padding
);