/* VARIABLES */

// RESPONSIVE SIZES
$xxLargeSize: 1900px;
$largeSize: 1600px;
$landscapeSize: 1150px;
$portraitSize: 1000px;
$mobileSize: 700px;
$mobileSmallSize: 325px;





// COLORS
$colors: (
	white: white
);





// FONTS
$base-value: 16;

// $font-primary: "orpheuspro", Times, serif;
// $font-primary--weight: 500;

// $font-secondary: "IBM Plex Sans", sans-serif;
// $font-secondary--weight: 400;
// $font-secondary--light: 300;
// $font-secondary--semibold: 600;
// $font-secondary--bold: 700;






// CSS VARIABLES
$css4: true;
$compatibility: true;

$var-padding: 5.5em;
$var-fontsize: 1rem;

$css-variables: (
	--padding: $var-padding,
	--fontsize: $var-fontsize
);