/* VARIABLES */

// RESPONSIVE SIZES
$xxLargeSize: 1900px;
$largeSize: 1600px;
$landscapeSize: 1130px;
$portraitSize: 1005px;
$mobileSize: 700px;
$mobileSmallSize: 325px;





// COLORS





// FONTS
$base-value: 16;





// CSS VARIABLES
$css4: true;
$compatibility: true;

$css-variables: (
	--variable: 0
);