/* MAIN AREAS */

// CSS Variables
@if($css4) {
	:root {
		@each $variable, $value in $css-variables {
			#{$variable}: $value;
		}



		// @include breakpoint(large) {
		// 	--fontsize:

		// 	--padding:
		// }

		// @include breakpoint(xxlarge) {
		// 	--fontsize:

		// 	--padding:
		// }



		// @include breakpoint(landscape) {
		// 	--fontsize:

		// 	--padding:
		// }

		// @include breakpoint(portrait) {
		// 	--fontsize:

		// 	--padding:
		// }



		// @include breakpoint(mobile) {
		// 	--fontsize:

		// 	--padding:
		// }
		
		// @include breakpoint(mobile-small) {
		// 	--fontsize:

		// 	--padding:
		// }
	}
}





// Box Sizing & Basic Strcture
* {
    box-sizing: border-box;


   	&:before,
   	&:after {
   		box-sizing: border-box;
   	}
}



html {
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}



body {
	min-height: 100%;
	width: 100%;
	max-width: 100%;
	
	position: relative;
	overflow-x: hidden;
}



main,
nav,
header,
article,
footer,
section,
div {
	display: block;
	position: relative;
}





// Overflow
.overflow--hidden {
	overflow: hidden;
}





// Backgrounds & Border Colors
@each $color, $value in $colors {
	.bkg--#{$color} {
		background-color: $value;
	}



	.fill--#{$color} {
		fill: $value;
	}



	.border--#{$color} {
		border-color: $value;
	}
}





// Opacity
@for $i from 1 through 10 {
	.opacity--#{ 10 * $i } {
		opacity: ( 0.1 * $i );
	}
}