/* TEXT SETTINGS */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;

	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
}
